<div
  fxLayout="row"
  class="profile"
>
  <div
    fxFlex="40px"
    fxFlexAlign="center"
  >
    <a routerLink=".">
      <img
        class="img-profile"
        *ngIf="imgProfile;else elseImgProfile"
        [src]=imgProfile
      >
      <ng-template #elseImgProfile>
        <mat-icon class="elseImgProfile">person</mat-icon>
      </ng-template>
    </a>
  </div>

  <div
    fxFlex="80%"
    fxFlexAlign="center"
    class="name-profile"
  >
    <a routerLink=".">
      <h2>User</h2>
    </a>
  </div>

  <p
    fxFlexAlign="center"
  >
    <small>14/02/2020</small>
  </p>
</div>
