.toolbar {
  border: none;
  background-color: #FFF !important;
}

.btn {
  color: #848484;
  background-color: transparent;
}

@media screen and (max-width: 959px) {
  .toolbar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(132, 132, 132, 0.2) transparent transparent;
  }
}
