.toolbar {
  background-color: #FFF !important;
}

.container {
  height: calc(87vh - 40px) !important;
  background-color: #FFF;
  overflow: hidden;
}

@media screen and (max-width: 360px) {
  .container {
    height: calc(91vh - 40px) !important;
    top: 0px;
  }
}

@media (orientation: landscape) {
  .container {
    height: calc(83vh - 40px) !important;
  }
}
