<router-outlet *ngIf="!logged"></router-outlet>

<div
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayout.sm="column"
  fxLayoutAlign="center center"
  *ngIf="logged"
>
  <div
    fxFlexFill
    fxFlex="100%"
  >
    <app-topbar></app-topbar>
  </div>

  <div
    fxLayoutAlign="center center"
    fxFlexFill
    fxFlex="100%"
  >
    <app-load></app-load>
  </div>

  <div
    class='toolbar'
    fxFlexFill
    fxFlex="80px"
    fxFlex.xs="100%"
    fxFlex.sm="100%"
    fxFlexOrder.xs="2"
    fxFlexOrder.sm="2"
  >
    <app-toolbar></app-toolbar>
  </div>

  <div
    class='container'
    fxFlexFill
    fxFlex="55%"
    fxFlex.xs="100%"
    fxFlex.sm="100%"
  >
    <router-outlet></router-outlet>
  </div>
</div>
