<div
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayout.sm="column"
  fxLayoutAlign="center center"
>
  <div
    fxFlexFill
    fxFlex="100%"
  >
    topbar
  </div>

  <div
    fxLayoutAlign="center center"
    fxFlexFill
    fxFlex="100%"
    *ngIf="loading"
  >
    <mat-spinner color="accent" mode="indeterminate"></mat-spinner>
  </div>

  <div
    class='toolbar'
    fxFlexFill
    fxFlex="5%"
    fxFlex.xs="100%"
    fxFlex.sm="100%"
    fxFlexOrder.xs="2"
    fxFlexOrder.sm="2"
  >
    toolbar
  </div>

  <div
    class='container'
    fxFlexFill
    fxFlex="55%"
    fxFlex.xs="100%"
    fxFlex.sm="100%"
  >
    <router-outlet></router-outlet>
  </div>
</div>
