mat-list-item {
  height: 55px !important;
  padding-top: 3px !important;
}

mat-list-item:hover {
  background-color: rgba(132, 132, 132, 0.1);
}

.mat-list-item-content {
  padding: 0px !important;
}

.find-contact-container {
  padding: 15px 5px 0px 5px;
}

.link-contact {
  text-decoration: none;
  color: #000;
}

.img-profile {
  border: 1px solid rgba(132, 132, 132, 0.4);
  width: 50px;
  height: 50px;
  display: block;
  object-fit: contain;
  border-radius: 50%;
}

.container-result {
  overflow: auto;
  max-height: calc(80vh - 60px) !important;
}
